<h1>Our content will be showing here</h1>
<button nz-button nzType="primary" (click)="addNewProduct()">Add new</button>
<st #st [widthMode]="{ type: 'strict' }" [columns]="columns" [data]="data" />
@if (newProductModal) {
  <div class="edit-page-overlay">
    <div class="modal">
      <h2 nz-typography style="padding-bottom: 12px">Add new product</h2>
      <nz-flex class="button-container" nzJustify="end">
        <button
          nz-button
          nzType="text"
          class="cancel-button"
          (click)="handleCancel()"
          nzSize="large"
          style="width: 120px"
        >
          <h4 nz-typography>Cancel</h4>
        </button>
        <button
          nz-button
          nzType="primary"
          class="save-button"
          (click)="handleSave()"
          nzSize="large"
          style="width: 120px"
        >
          Save
        </button>
      </nz-flex>
    </div>
  </div>
}
